<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>mycabapps</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>REGISTRATION</display-name>
    <servlet-name>REGISTRATION</servlet-name>
    <servlet-class>com.abhay.REGISTRATION</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>REGISTRATION</servlet-name>
    <url-pattern>/REGISTRATION</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LOGIN</display-name>
    <servlet-name>LOGIN</servlet-name>
    <servlet-class>com.abhay.LOGIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LOGIN</servlet-name>
    <url-pattern>/LOGIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>BOOK</display-name>
    <servlet-name>BOOK</servlet-name>
    <servlet-class>com.abhay.BOOK</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>BOOK</servlet-name>
    <url-pattern>/BOOK</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>LogoutAction</display-name>
    <servlet-name>LogoutAction</servlet-name>
    <servlet-class>com.abhay.LogoutAction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>LogoutAction</servlet-name>
    <url-pattern>/LogoutAction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>ADMIN</display-name>
    <servlet-name>ADMIN</servlet-name>
    <servlet-class>com.abhay.ADMIN</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ADMIN</servlet-name>
    <url-pattern>/ADMIN</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>updation</display-name>
    <servlet-name>updation</servlet-name>
    <servlet-class>com.abhay.updation</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>updation</servlet-name>
    <url-pattern>/updation</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Deletion</display-name>
    <servlet-name>Deletion</servlet-name>
    <servlet-class>com.abhay.Deletion</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Deletion</servlet-name>
    <url-pattern>/Deletion</url-pattern>
  </servlet-mapping>
</web-app>